<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::bas(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartContactManeger</title>
   

   
  
</head>
<body>
    <section class="banner" style="display: flex;align-items: center;justify-content: center;">
        <div style="text-align: center;">
        <h1 style="font-weight: bold;">Welocome to SmartContactManeger</h1>
        <div class="floating-text">
    With a sleek and intuitive interface, <strong>SmartContactManager</strong> helps you store, organize, and access all your contacts in one secure place.<br><br>
    Click the <strong>Start</strong> button below to begin your journey.<br><br>
    Gain full access to features that make contact management smarter, faster, and more reliable.
  </div>

    
        <a class="btn btn-primary btn-lg" type="Submit" th:href="@{/signin}" style="margin-top: 10px;">Start</a>
        </div>
    </section>
    
</body>
</html>