<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="~{base::bas(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
       

        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                   <div class="mycard">
                    <div class="cen" style="text-align: center;">
                        <img th:src="@{/image/machine.png}" style="width: 80px;">
                    </div>
                    <div th:if="${message}" th:classappend="${message?.type}" class="alert " role="alert">
                        <p th:text="${message?.content}"></p>
                     
                    </div>
                    <h1 style="text-align: center;">Register here !!</h1>
                    <form th:action="@{/regis}" th:object="${user}" method="post">
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input  name="name" type="text" th:text="${user.name}"    class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter here">
                   </div>
                    
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input    name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter here">
                   </div>
                    
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">password</label>
                    <input name="password"   type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter here">
                   </div>
                    
                  
                   <div class="fotm-group">
                    <textarea rows="7" placeholder="Enter About Yourself" class="form-control"></textarea>
                   </div>

                   <div class="form-group form-check">
                    <input type="checkbox" name="agreement" class="form-check-input">
                    <label for="agreement">Aceept terms and conditions</label>
                   </div>
                    
                   
                 <div class="con" style="text-align: center;padding: 1ex;">
                 <button type="submit" class="btn btn-primary bg-pc btn-block">Submit</button>
                  <button type="reset" class="btn btn-warning btn-block">Reset</button>
                 </div>
 
</form>
                    </div>
                </div>


            </div>
        </div>
       
    </section>
</body>
</html>