<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::bas(~{:: section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="card">
            <div class="card-body">
              <div th:if="${message != null}" 
     th:class="'alert alert-' + ${message.type}" 
     th:text="${message.content}">
</div>
               <h1 class="text-center">Contact</h1>
               <h3 class="text-center">
               <span th:text="${con.name}"></span>
               (<span th:text="${con.nickname}"></span>)
               </h3>
                <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col" th:text="${'SCM2025'+con.cid}"></th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td th:text="${con.email}"></td>
      
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td th:text="${con.phone}"></td>
      
    </tr>
    <tr>
      <th scope="row">work</th>
      <td th:text="${con.work}"></td>
     
    </tr>
  </tbody>
</table>
   
   <div class="con-card text-center">
    <p th:utext="${con.description}">No description</p>
   
   </div>
   <div class="container">
    <a class="btn btn-danger btn-block"  th:href="@{'/user/delete/'+${con.cid}}">Delete</a>
        <form  method="post" th:action="@{'/user/upd/'+${con.cid}}">
        <button type="submit" class="btn btn-primary btn-block mt-2" >Update</button>
        </form>
   </div>
            </div>
        </div>
    </section>
    
</body>
</html>