<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::bas(~{:: section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <section style="background-color: #c0c0c0;">
       <div class="card">
        <div class="card-body" style="text-align: center; ">
            <div class="cen">
            <img style="text-align: center; height: 500px;" th:src="@{/image/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg}" alt="">
            </div>
            <div >
                 <h3  class="text-center">
                 ~to SmartContactManeger  <br> <span th:text="${user.name}"></span>
             </h3>
            </div>

            

        </div>
       </div>
        
    </section>
    
</body>
</html>