<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::bas(~{:: section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">See Contacts</h1>
                <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c : ${contacts}">
      <th scope="row" th:text="${'SCM2025'+c.cid}">1</th>
    <td>  <a th:text="${c.name}" th:href="@{'/user/'+${c.cid}+'/ind'}">Name</a></td>
      <td th:text="${c.email}">Email</td>
      <td th:text="${c.phone}">Phone</td>
      <td>
        <a class="btn btn-danger"  th:href="@{'/user/delete/'+${c.cid}}">Delete</a>
        <form  method="post" th:action="@{'/user/upd/'+${c.cid}}">
        <button type="submit" class="btn btn-primary mt-2" >Update</button>
        </form>
      </td>
    </tr>
   
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${currpage!=0}" class="page-item"><a  th:href="@{'/user/show/'+${currpage-1}}"class="page-link" href="#">Previous</a></li>
    <li th:classappend="${currpage==i-1}?'active':''" th:each="i : ${#numbers.sequence(1,nopage)}" class="page-item"><a th:href="@{'/user/show/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
  
    <li th:if="${currpage!=nopage-1}" class="page-item"><a class="page-link" href="#" th:href="@{'/user/show/'+${currpage+1}}">Next</a></li>
  </ul>
</nav>
            </div>
        </div>
    </section>
</body>
</html>